doctype html
html
   head
      title  Hello PUG PAGE
   body
      h1.greetings#people Hello World!
      div
         h2.try#trying It is worked right ?
         h2.try#trying2 It is worked right ?
      div.
          It is working without anything so we can write anything we want.
          It is like python syntax.
          <!-- This is comment line -->
      div.container.column.main#division(width= "100",height="100")
         h1.try#trying3 It is working as well right?
