html
html
    head
        title Form Test
    body
        form(action="/form",method="POST")
            div
                label(for="say") Email:
                input(name="email",value="")
            br
            div
                label(for= "to") Your Message:
                input(name="message",value="")
            br
            button(type= "submit") Send my message